In [1]:
%ls datasets/

adult.csv                  census.csv     movies.csv
airline_data.csv           coches.csv     nhanes_2015_2016.csv
antropometria00.csv        cwurData.csv   pokemon.csv
antropometria-dataset.csv  data.csv       reg_data.csv
Book3.csv                  headbrain.csv  sample_pivot.csv
Canada.xlsx                mic2.xlsx      tips.csv
Cartwheeldata.csv          mic.xlsx       weight-height.csv

In [2]:
#pip install seaborn

In [3]:
import pandas as pd
import numpy as np
import seaborn as sn

# Antromometria-dataset

In [4]:
df = pd.read_csv('datasets/antropometria-dataset.csv')
df

,folio,intp,entidad,desc_ent,sexo,edad,meses,peso,ropa,talla,...,hpresion,tbrazo,htension,PrimaryLast,code_upm,est_dis,est_urb,est_marg,pondef,est_var
0,210295,2,21,PUEBLA,2,38,8,73.70,2,146.40,...,16:30,2,16:35,1,R2101,5,3,1,3470.002176,215
1,101655,3,10,DURANGO,2,11,11,35.65,2,145.10,...,15:25,3,15:25,1,M1041,1,1,1,417.946672,101
2,10287,6,1,AGUASCALIENTES,2,18,8,54.80,1,162.00,...,9:40,1,9:40,1,M0108,5,3,1,472.980811,15
3,91526,4,9,DISTRITO FEDERAL,1,10,8,33.40,2,146.50,...,7:40,3,7:45,1,M0931,4,3,2,1832.581391,94
4,210939,3,21,PUEBLA,2,19,3,97.95,2,161.00,...,6:00,2,6:00,1,M2123,5,3,1,7622.066564,215
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18635,300116,2,30,VERACRUZ DE IGNACIO DE LA LLAVE,2,73,11,75.80,1,141.15,...,18:00,1,18:05,1,R3002,5,3,1,7615.607749,305
18636,40253,1,4,CAMPECHE,2,75,0,69.40,1,144.80,...,18:40,1,18:40,1,M0408,5,3,1,195.314670,45
18637,301099,1,30,VERACRUZ DE IGNACIO DE LA LLAVE,1,86,7,46.75,2,149.20,...,8:00,3,23:00,1,M3024,2,1,2,1758.912979,302
18638,250801,1,25,SINALOA,2,72,7,59.05,2,142.50,...,6:02,3,6:02,1,M2512,3,2,1,2354.581350,253
18639,11786,2,1,AGUASCALIENTES,2,71,8,80.00,2,150.65,...,13:50,3,13:00,1,M0143,2,1,2,591.847039,12

In [5]:
df.columns

Index(['folio', 'intp', 'entidad', 'desc_ent', 'sexo', 'edad', 'meses', 'peso',
       'ropa', 'talla', 'emb', 'temb', 'cintura', 'cadera', 'sistol',
       'diastol', 'hpresion', 'tbrazo', 'htension', 'PrimaryLast', 'code_upm',
       'est_dis', 'est_urb', 'est_marg', 'pondef', 'est_var'],
      dtype='object')

In [6]:
df.drop(['folio', 'intp', 'entidad', 'edad', 'meses',
       'ropa', 'talla', 'emb', 'temb', 'cintura', 'cadera', 'sistol',
       'diastol', 'hpresion', 'tbrazo', 'htension', 'PrimaryLast', 'code_upm',
       'est_dis', 'est_urb', 'est_marg', 'pondef', 'est_var'],
       axis = 1,
        inplace=True
       )
df.columns

Index(['desc_ent', 'sexo', 'peso'], dtype='object')

In [7]:
df.rename(columns = {'desc_ent':'State', 'sexo':'Gender', 'peso':'Weight',},
        inplace = True)
df.head()

              State  Gender  Weight
0            PUEBLA       2   73.70
1           DURANGO       2   35.65
2    AGUASCALIENTES       2   54.80
3  DISTRITO FEDERAL       1   33.40
4            PUEBLA       2   97.95

In [8]:
df.set_index('State', inplace=True)
df

                                 Gender  Weight
State
PUEBLA                                2   73.70
DURANGO                               2   35.65
AGUASCALIENTES                        2   54.80
DISTRITO FEDERAL                      1   33.40
PUEBLA                                2   97.95
...                                 ...     ...
VERACRUZ DE IGNACIO DE LA LLAVE       2   75.80
CAMPECHE                              2   69.40
VERACRUZ DE IGNACIO DE LA LLAVE       1   46.75
SINALOA                               2   59.05
AGUASCALIENTES                        2   80.00

[18640 rows x 2 columns]

In [9]:
df.loc['ZACATECAS']

           Gender  Weight
State
ZACATECAS       2  61.850
ZACATECAS       1  31.500
ZACATECAS       2  42.900
ZACATECAS       2  82.500
ZACATECAS       1  47.125
...           ...     ...
ZACATECAS       2  54.750
ZACATECAS       1  77.000
ZACATECAS       2  64.650
ZACATECAS       2  53.050
ZACATECAS       2  70.800

[593 rows x 2 columns]

In [10]:
df.loc['ZACATECAS'].describe()

           Gender      Weight
count  593.000000  593.000000
mean     1.556492   64.238524
std      0.497218   16.336567
min      1.000000   24.650000
25%      1.000000   53.650000
50%      2.000000   63.750000
75%      2.000000   74.750000
max      2.000000  130.150000

In [31]:
df.reset_index()
myPivot = pd.pivot_table(df,
                         index=['State'],
                         values = ['Weight'],
                         aggfunc = ['mean'],
                         columns = ['Gender'],
                         margins = True
                        )
myPivot

KeyError: "['State'] not in index"